/*

Theme Name: Amanda Karoline
Theme URI: link do tema
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrição do tema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: tags do tema.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Montserrat', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* BODY */
  body{
  }

/* TOPO */
      .topo {
        background: black;
      }

        .topo .tituloDoMenu {
          font-family: Montserrat, sans-serif;
          color: white;
          font-weight: bold;
          font-size: 1.6em;
        }

        .topo figure img {
          width: 210px;
          margin-top: 2.5em;
        }

/*RODAPÉ*/


/*COPYRIGHT*/


/*PG*/


/*PÁGINA INICIAL*/
  .pg-inicial{

  }
    .pg-inicial section{
    
    }
      .pg-inicial section h6{
  
      }
      .pg-inicial section .imagemPrincipal {

      }
        .pg-inicial section .imagemPrincipal img{
          width: 260px;
          height: auto;
          margin: 30px auto;
          display: block;

        }
      .pg-inicial section .textoPrincipal{
        margin: auto 130px;
        display: block;
          
      }
        .pg-inicial section .textoPrincipal p{
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          text-indent: 10px;
        }
      .pg-inicial section .formulario{
        background: #15b6c5;
        border-radius: 1em;
        width: 240px;
        padding: 1em;
        font-family: Montserrat, sans-serif;
        color: white;
        font-weight: bold;
        margin: 45px auto;

        }
        .pg-inicial section .formulario span{
          display: block;
        }
        .pg-inicial section .formulario input{
          margin-bottom: 1.5em;

        }
        .pg-inicial section .formulario input[type="text"]{
          width: 210px;
          border: 1px solid #15b6c5;
        }
        .pg-inicial section .formulario input[type="radio"]{

         
        }
        .pg-inicial section .formulario input[type="submit"]{
          display: block;
          margin: 0 auto;
          width: 150px;
          height: 50px;
          border: none;
          background: white;
          color: #15b6c5;
          font-size: 1.2em;
          border-radius: .5em;
        }
      .pg-inicial section .imagemAbaixoFormulario{
            
      }
        .pg-inicial section .imagemAbaixoFormulario figure{
            
      }
        .pg-inicial section .imagemAbaixoFormulario figure img{
          width: 210px;
          margin: 10px auto;
          display: block;
      }

/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
  
  }
  @media(max-width: 768px){
  
  }

  @media(max-width: 425px){
  
  }

  @media(max-width: 320px){
  
  }
